.btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #651f1f;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(78, 2, 2);
  background: linear-gradient(270deg, rgba(78, 2, 2, 0.681) 0%, rgba(232, 31, 31, 0.873) 60%);
  color: rgb(4, 4, 38);
}

h2 {
  text-align: center;
}

p{
  text-align: center;
}

.tool{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.container {
  display: block;
  width: 50%;
  height: auto;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
}

.image {
  border-radius: 10%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  display:flex;
  justify-content: center;
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #aa0404;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


